global-exclude *.pyc
global-exclude *.swp
global-exclude *.swo
global-exclude **/.DS_Store
global-exclude **/__pycache__
global-exclude *.un~
global-exclude Makefile
include *.rst *.cfg
include buildout.cfg
include versions.cfg
recursive-include collective *.py *.txt
include .travis.yml
include .isort.cfg
include .coveragerc
include buildout_requirements.txt
